<noscript>
    <div class="noscript">
        <div class="noscript-inner">
            <p>JavaScript is disabled on your browser.</p>
            <p>Please enable JavaScript or upgrade to a JavaScript-capable browser to use this site.</p>
        </div>
    </div>
</noscript>

</body>
</html>