<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
    <img src="/logo.jpg" alt="">
    </a>
  
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    </a>
  </div>
  
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    <a class="navbar-item" href="/chargesBy">Charges By</a>
    <a class="navbar-item" href="/passAnalysis">Pass Analysis</a>
    <a class="navbar-item" href="/passesCost">Passes Cost</a>
    <a class="navbar-item" href="/tollstationpasses">Toll Station Passes</a>
    <a class="navbar-item" href="/statistics">Statistics</a>
    <a class="navbar-item" href="/debt">Debt</a>
    <a class="navbar-item" href="/admin">Admin</a>
  
    </div>
  
    <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
      <button onclick="logout()" class="button is-danger">
        Log out
      </button>
      </div>
    </div>
    </div>
  </div>
  </nav>

<script>
function logout() {
    document.cookie = "token=; path=/; expires=Thu, 01 Jan 1970 00:00:00 UTC";
    window.location.href = '/';
}
</script>