<%- include('modules/top') %>

<title>Charges By | TollNet Solutions</title>

</head><body style="text-align:center;">
<%- include('modules/header') %>

<main>
	<div class="content">

		<div id="feed-get-ops"></div>


		<h1>Charges By</h1>
		<p>
			Get charges from all other tag operators for a specific period
		</p>
		<p>
			
			<div class="dropdown" id="op-select" value="">
				<div class="dropdown-trigger">
					<button class="button" aria-haspopup="true" aria-controls="dropdown-menu-op">
						<span>Choose operator</span>
						<span class="icon is-small">
							<i class="fas fa-angle-down" aria-hidden="true"></i>
						</span>
					</button>
				</div>
				<div class="dropdown-menu" id="dropdown-menu-op" role="menu">
					<div class="dropdown-content">
						<!-- added by js -->
					</div>
				</div>
			</div>
			<label for="startDate">Start Date:</label>
            <input
                id="startDate"
                class="input is-info"
                style="max-width: 15em;"
                type="date"
                value="2022-01-01"
			/>
			<label for="endDate">End Date:</label>
            <input
                id="endDate"
                class="input is-info"
                style="max-width: 15em;"
                type="date"
                value="2023-01-01"
			/>
		</p>
		<p>
			<!--
			<div class="dropdown" id="format-select" value="">
				<div class="dropdown-trigger">
				  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
					<span>Choose format</span>
					<span class="icon is-small">
					  <i class="fas fa-angle-down" aria-hidden="true"></i>
					</span>
				  </button>
				</div>
				<div class="dropdown-menu" id="dropdown-menu3" role="menu">
				  <div class="dropdown-content">
					<a href="#" class="dropdown-item"> csv </a>
					<a href="#" class="dropdown-item"> json </a>
				  </div>
				</div>
			</div>-->
			

		</p>
		<p>
			<button class="button is-info is-dark" onclick="getCharges()">Get Charges</button>
		</p>

		<div id="feed-getcharges"></div>

	</div>
</main>

<script>

function initOps(){

	const responseEl = document.getElementById('feed-get-ops');
	const opsSelect = document.getElementById('op-select').querySelector('.dropdown-content');
	
	//msg(responseEl, 'loading...');

	apiRequest('operators')
		.then(data => {
			responseEl.innerHTML="";
			for(const i of data.operators){
				op = document.createElement('a');
				op.href = "#";
				op.className = "dropdown-item";
				op.innerHTML = i.name + " (" + i.id + ")";
				opsSelect.appendChild(op);
			}
			applyDropdownFunctionality(document.getElementById('op-select'));
			applyDropdownTriggers(document.getElementById('op-select'));
		})
		.catch(error => {
			console.log(error);
			msg(responseEl, 'error', error)
		}
	);
}

initOps();



function printResult(final_data_list){
	const responseEl = document.getElementById('feed-getcharges');
	let html = `
					<table class="table"><thead></thead>
					<tbody>
						<tr><th>Visiting Op. ID</th><th>Number of Passes</th><th>Passes Cost</th></tr> 
	`;

				for (let i = 0; i < final_data_list.vOpList.length; i++) {
					let obj = final_data_list.vOpList[i];
					html += `
						<tr>
							<td>${obj.visitingOpID}</td>
							<td>${obj.nPasses}</td>
							<td>${obj.passesCost}</td>
						</tr>
					`;
				}
				
				
				html += `
					</tbody>
				`;

				responseEl.innerHTML = html;
}

function getCharges(){
	
	const responseEl = document.getElementById('feed-getcharges');

	let opid = document.querySelector('#op-select').getAttribute('value');
	opid = opid.match(/\(([^)]+)\)/);
	if(opid && opid.length > 1){
		opid = opid[1];
	} else {
		opid = null;
	}
	// const from = document.querySelector('input[placeholder="Start date (YYYYMMDD)"]').value;
	// const to = document.querySelector('input[placeholder="End date (YYYYMMDD)"]').value;
	//const format = document.querySelector('#format-select').getAttribute('value');

	// Validate the dates
    const startDate = document.getElementById('startDate').value;
    const endDate = document.getElementById('endDate').value;

    if (!startDate || !endDate) {
        msg(responseEl, 'error', 'Please provide both start and end dates.');
        return;
    }

	// Convert dates to the required format
    const formattedStartDate = startDate.replace(/-/g, '');
    const formattedEndDate = endDate.replace(/-/g, '');

    

	const format = 'json';

	if (!format) {
		msg(responseEl, 'error', 'Please choose a format');
		return;
	}

	if (!opid || !startDate || !endDate || !format) {
        msg(responseEl, 'error', 'Please enter all fields.');
        return;
    }

	const apiCall = `chargesBy/${opid}/${formattedStartDate}/${formattedEndDate}?format=${format}`;
    //console.log(`API Call: ${apiCall}`);	

	apiRequest(apiCall, 'GET')
		.then(data => {

			let final_data_list = {};
			
			if(format == 'json'){
				msg(responseEl, 'success', JSON.stringify(data, null, 2));
				printResult(data);
			} else {
				msg(responseEl, 'converting...');
			
				data.text().then(csvText => {
					// Convert CSV text to object list
					const list = csvText.split('\n').map(row => row.split(','));
					
					// Process CSV to desired output
					let dataTXT = list.map(row => row.join(',')).join('\n');
					msg(responseEl, 'success', dataTXT);

					// convert csv to json manually (without lib) like the json above
					let headers = list[1];
					let data = list.slice(1);
					let final_data_list = {
						tollOpID: headers[0],
						requestTimestamp: headers[1],
						periodFrom: headers[2],
						periodTo: headers[3],
						vOpList: []
					}
					for (let i = 0; i < data.length; i++) {
						let row = data[i];
						let obj = {
							visitingOpID: row[4],
							nPasses: parseInt(row[5]),
							passesCost: row[6]
						}
						final_data_list.vOpList.push(obj);
					}

					msg(responseEl, 'success', JSON.stringify(final_data_list, null, 2));

					// remove last empty row
					final_data_list.vOpList.pop();

					printResult(final_data_list);

				}).catch(error => {
					msg(responseEl, 'error', 'Error parsing CSV data: ' + error);
				});

				
				
			}
		})
		.catch(error => {
			msg(responseEl, 'error', error)
		}
	);
	
}



</script>




<%- include('modules/bottom') %>


