<%- include('modules/top') %>


<title>Charges By | TollNet Solutions</title>


</head><body style="text-align:center;">
	<%- include('modules/header') %>


<main>

	<div class="content">
		
		
		<h1>Charges By</h1>
		
		

		<p>
			Get charges from all other tag operators for a specific period
		</p>
		<p>
			<input
				class="input is-info"
				style="max-width: 15em;"
				type="text"
				placeholder="Operator ID"
				value = "AM"
			/>
			<input
				class="input is-info"
				style="max-width: 15em;"
				type="text"
				placeholder="Start date (YYYYMMDD)"
				value = "20220101"
			/>
			<input
				class="input is-info"
				style="max-width: 15em;"
				type="text"
				placeholder="End date (YYYYMMDD)"
				value = "20230101"
			/>
		</p>
		<p>
			
			<div class="dropdown" id="format-select" value="">
				<div class="dropdown-trigger">
				  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
					<span>Choose format</span>
					<span class="icon is-small">
					  <i class="fas fa-angle-down" aria-hidden="true"></i>
					</span>
				  </button>
				</div>
				<div class="dropdown-menu" id="dropdown-menu3" role="menu">
				  <div class="dropdown-content">
					<a href="#" class="dropdown-item"> csv </a>
					<a href="#" class="dropdown-item"> json </a>
				  </div>
				</div>
			  </div>
		</p>
		<p>
			<button class="button is-info is-dark" onclick="getCharges()">Get Charges</button>
		</p>




		<div id="feed-getcharges"></div>






	</div>




</main>




<script>


function printResult(final_data_list){
	const responseEl = document.getElementById('feed-getcharges');
	let html = `
					<table class="table"><thead></thead>
					<tbody>
						<tr><th>Visiting Op. ID</th><th>Number of Passes</th><th>Passes Cost</th></tr> 
	`;

				for (let i = 0; i < final_data_list.vOpList.length; i++) {
					let obj = final_data_list.vOpList[i];
					html += `
						<tr>
							<td>${obj.visitingOpID}</td>
							<td>${obj.nPasses}</td>
							<td>${obj.passesCost}</td>
						</tr>
					`;
				}
				
				
				html += `
					</tbody>
				`;

				responseEl.innerHTML = html;
}

function getCharges(){
	
	const responseEl = document.getElementById('feed-getcharges');

	const opid = document.querySelector('input[placeholder="Operator ID"]').value;
	const from = document.querySelector('input[placeholder="Start date (YYYYMMDD)"]').value;
	const to = document.querySelector('input[placeholder="End date (YYYYMMDD)"]').value;
	const format = document.querySelector('#format-select').getAttribute('value');

	if (!format) {
		msg(responseEl, 'error', 'Please choose a format');
		return;
	}

	if (!opid || !from || !to || !format) {
		msg(responseEl, 'error', 'Please enter all fields');
		return;
	}

	apiRequest(`chargesBy/${opid}/${from}/${to}?format=${format}`, 'GET', null, format)
		.then(data => {

			let final_data_list = {};
			
			if(format == 'json'){
				msg(responseEl, 'success', JSON.stringify(data, null, 2));
				printResult(data);
			} else {
				msg(responseEl, 'converting...');
			
				data.text().then(csvText => {
					// Convert CSV text to object list
					const list = csvText.split('\n').map(row => row.split(','));
					
					// Process CSV to desired output
					let dataTXT = list.map(row => row.join(',')).join('\n');
					msg(responseEl, 'success', dataTXT);

					/*example

					{ "tollOpID": "AM", "requestTimestamp": "2024-12-13T15:20:13.594Z", "periodFrom": "2022-01-01 00:00", "periodTo": "2023-01-01 23:59", "vOpList": [ { "visitingOpID": "AM", "nPasses": 82, "passesCost": "230.20" }, { "visitingOpID": "EG", "nPasses": 14, "passesCost": "35.50" }, { "visitingOpID": "GE", "nPasses": 1, "passesCost": "3.10" }, { "visitingOpID": "KO", "nPasses": 5, "passesCost": "15.30" }, { "visitingOpID": "MO", "nPasses": 2, "passesCost": "4.40" }, { "visitingOpID": "NAO", "nPasses": 14, "passesCost": "39.50" }, { "visitingOpID": "NO", "nPasses": 6, "passesCost": "15.50" }, { "visitingOpID": "OO", "nPasses": 6, "passesCost": "16.30" } ] }


					tollOpID,requestTimestamp,periodFrom,periodTo,visitingOpID,n_passes,passesCost AM,2024-12-13T15:22:13.223Z,2022-01-01,2023-01-01,AM,82,230.20 AM,2024-12-13T15:22:13.223Z,2022-01-01,2023-01-01,EG,14,35.50 AM,2024-12-13T15:22:13.223Z,2022-01-01,2023-01-01,GE,1,3.10 AM,2024-12-13T15:22:13.223Z,2022-01-01,2023-01-01,KO,5,15.30 AM,2024-12-13T15:22:13.223Z,2022-01-01,2023-01-01,MO,2,4.40 AM,2024-12-13T15:22:13.223Z,2022-01-01,2023-01-01,NAO,14,39.50 AM,2024-12-13T15:22:13.223Z,2022-01-01,2023-01-01,NO,6,15.50 AM,2024-12-13T15:22:13.223Z,2022-01-01,2023-01-01,OO,6,16.30 


					*/
					// convert csv to json manually (without lib) like the json above
					let headers = list[1];
					let data = list.slice(1);
					let final_data_list = {
						tollOpID: headers[0],
						requestTimestamp: headers[1],
						periodFrom: headers[2],
						periodTo: headers[3],
						vOpList: []
					}
					for (let i = 0; i < data.length; i++) {
						let row = data[i];
						let obj = {
							visitingOpID: row[4],
							nPasses: parseInt(row[5]),
							passesCost: row[6]
						}
						final_data_list.vOpList.push(obj);
					}

					msg(responseEl, 'success', JSON.stringify(final_data_list, null, 2));

					// remove last empty row
					final_data_list.vOpList.pop();

					printResult(final_data_list);

				}).catch(error => {
					msg(responseEl, 'error', 'Error parsing CSV data: ' + error);
				});

				
				
			}
		})
		.catch(error => {
			msg(responseEl, 'error', error)
		}
	);
	
}



</script>




<%- include('modules/bottom') %>


