<%- include('modules/top') %>

<title>Debt | TollNet Solutions</title>

<style>
body{
    text-align:center;
}
@media (max-width: 768px) {
    .box{
        background-color: transparent;
    }
    .box p{
        text-shadow: 3px 3px 5px #000000;
        color: white;
        font-weight:bold;
    }
}

</style>

</head><body style="text-align:center;">

<%- include('modules/header') %>

<main>

	<div class="content">
		
		
		<h1>Debt</h1>
		<div id="feed-glob-debt"></div>

		<p>
			Get the debt of all operators
		</p>
		<p>
			<div class="dropdown" id="op-select" value="">
				<div class="dropdown-trigger">
					<button class="button" aria-haspopup="true" aria-controls="dropdown-menu-op">
						<span>Choose tag operator</span>
						<span class="icon is-small">
							<i class="fas fa-angle-down" aria-hidden="true"></i>
						</span>
					</button>
				</div>
				<div class="dropdown-menu" id="dropdown-menu-op" role="menu">
					<div class="dropdown-content">
						<!-- added by js -->
					</div>
				</div>
			</div>
			<input
				class="input is-info"
				style="max-width: 15em;"
				type="text"
				placeholder="Start date (YYYYMMDD)"
				value = "20220101"
			/>
			<input
				class="input is-info"
				style="max-width: 15em;"
				type="text"
				placeholder="End date (YYYYMMDD)"
				value = "20230101"
			/>
		</p>
		<p>
			<button class="button is-info" onclick="getAllDebt()">Get Debt</button>
		</p>


		<div class="skeleton-lines" id="content-debts">
		</div>

		

	</div>
</main>

<script>

const responseElDebtPage = document.getElementById('feed-glob-debt');

function initOps(){

const opsSelect = document.getElementById('op-select').querySelector('.dropdown-content');

//msg(responseEl, 'loading...');

apiRequest('operators')
	.then(data => {
		responseElDebtPage.innerHTML="";
		for(const i of data.operators){
			op = document.createElement('a');
			op.href = "#";
			op.className = "dropdown-item";
			op.innerHTML = i.name + " (" + i.id + ")";
			opsSelect.appendChild(op);
		}
		applyDropdownFunctionality(document.getElementById('op-select'));
		applyDropdownTriggers(document.getElementById('op-select'));
	})
	.catch(error => {
		console.log(error);
		msg(responseElDebtPage, 'error', error)
	}
);
}

initOps();

const res = document.getElementById('content-debts');

function getAllDebt() {
    responseElDebtPage.innerHTML = '';

	// get list of ops

	// check if date input exists
    const startDate = document.querySelector('input[placeholder="Start date (YYYYMMDD)"]').value;
    const endDate = document.querySelector('input[placeholder="End date (YYYYMMDD)"]').value;

    // Validating Date
    const startValidation = isValidDate(startDate);
    const endValidation = isValidDate(endDate);

    if (!startValidation.valid) {
        msg(responseElDebtPage, 'error', startValidation.message);
        return;
    }

    if (!endValidation.valid) {
        msg(responseElDebtPage, 'error', endValidation.message);
        return;
    }

    let opid = document.querySelector('#op-select').getAttribute('value');
    opid = opid.match(/\(([^)]+)\)/);
    if (opid && opid.length > 1) {
        opid = opid[1];
    } else {
        opid = null;
    }

    if (!opid) {
        msg(responseElDebtPage, 'error', 'Please select an operator.');
        return;
    }

    apiRequest('getDebt/' + opid + '/' + startDate + '/' + endDate + '?format=json')
        .then(data => {
            let html = `
                <table class="table"><thead></thead>
                <tbody>
                    <tr><th title='operator name (operator ID)'>To</th><th>Amount</th><th></th></tr>
            `;

            for (const h of data.hOpList) {
                html += `
                    <tr>
                        <td>${h.homeOpID}</td>
                        <td title="${h.nPasses} passes">${h.passesCost}</td>
                        <td><button class="button is-success" onclick="payDebt(this, '${opid}', '${h.homeOpID}', '${startDate}', '${endDate}')">Pay</button></td>
                    </tr>
                `;
            }

            html += `
                </tbody>
            `;

            res.innerHTML = html;
        })
        .catch(error => {
            msg(responseElDebtPage, 'error', error);
        });
}


function payDebt(thisEl, from, to, start, end){

	const fromOp = from;
	const toOp = to;
	const startDate = start;
	const endDate = end;

	apiRequest('payDebt/' + fromOp + '/' + toOp + '/' + startDate + '/' + endDate + '?format=json', 'PUT')
		.then(data => {
			msg(thisEl.parentElement, 'success', 'Paid')
		})
		.catch(error => {
			msg(responseEl, 'error', error)
		}
	);

}



function isValidDate(date) {
    const dateRegex = /^\d{4}(0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])$/;

    // Validating the date format
    if (!dateRegex.test(date)) {
        return {
            valid: false,
            message: 'Date must be in YYYYMMDD format with valid year, month, and day.'
        };
    }

    //Validate if it's a real date
    const year = parseInt(date.substring(0, 4), 10);
    const month = parseInt(date.substring(4, 6), 10) - 1; 
    const day = parseInt(date.substring(6, 8), 10);

    const dt = new Date(year, month, day);
    if (
        dt.getFullYear() !== year ||
        dt.getMonth() !== month ||
        dt.getDate() !== day
    ) {
        return {
            valid: false,
            message: 'Invalid date. Please check the day, month, and year values.'
        };
    }

    return { valid: true, message: '' };
}

</script>

<%- include('modules/bottom') %>


