<%- include('modules/top') %>

<title>Debt | TollNet Solutions</title>

<style>
body{
    text-align:center;
}
@media (max-width: 768px) {
    .box{
        background-color: transparent;
    }
    .box p{
        text-shadow: 3px 3px 5px #000000;
        color: white;
        font-weight:bold;
    }
}

</style>

</head><body style="text-align:center;">

<%- include('modules/header') %>

<main>

	<div class="content">
		
		
		<h1>Debt</h1>
		<div id="feed-glob-debt"></div>

		<p>
			Get the debt of all operators
		</p>
		<p>
			<div class="dropdown" id="op-select" value="">
				<div class="dropdown-trigger">
					<button class="button" aria-haspopup="true" aria-controls="dropdown-menu-op">
						<span>Choose tag operator</span>
						<span class="icon is-small">
							<i class="fas fa-angle-down" aria-hidden="true"></i>
						</span>
					</button>
				</div>
				<div class="dropdown-menu" id="dropdown-menu-op" role="menu">
					<div class="dropdown-content">
						<!-- added by js -->
					</div>
				</div>
			</div>
			<label for="startDate">Start Date:</label>
            <input
                id="startDate"
                class="input is-info"
                style="max-width: 15em;"
                type="date"
                value="2022-01-01"
			/>
			<label for="endDate">End Date:</label>
            <input
                id="endDate"
                class="input is-info"
                style="max-width: 15em;"
                type="date"
                value="2023-01-01"
			/>
		</p>
		<p>
			<button class="button is-info" onclick="getAllDebt()">Get Debt</button>
		</p>


		<div class="skeleton-lines" id="content-debts">
		</div>

		

	</div>
</main>

<script>

const responseElDebtPage = document.getElementById('feed-glob-debt');

function initOps(){

const opsSelect = document.getElementById('op-select').querySelector('.dropdown-content');

//msg(responseEl, 'loading...');

apiRequest('operators')
	.then(data => {
		responseElDebtPage.innerHTML="";
		for(const i of data.operators){
			op = document.createElement('a');
			op.href = "#";
			op.className = "dropdown-item";
			op.innerHTML = i.name + " (" + i.id + ")";
			opsSelect.appendChild(op);
		}
		applyDropdownFunctionality(document.getElementById('op-select'));
		applyDropdownTriggers(document.getElementById('op-select'));
	})
	.catch(error => {
		console.log(error);
		msg(responseElDebtPage, 'error', error)
	}
);
}

initOps();

const res = document.getElementById('content-debts');

function getAllDebt() {
    responseElDebtPage.innerHTML = '';

	// get list of ops

	// Validate the dates
    const startDate = document.getElementById('startDate').value;
    const endDate = document.getElementById('endDate').value;

	if (!startDate || !endDate) {
        msg(responseEl, 'error', 'Please provide both start and end dates.');
        return;
    }

	// Convert dates to the required format
    const formattedStartDate = startDate.replace(/-/g, '');
    const formattedEndDate = endDate.replace(/-/g, '');


    let opid = document.querySelector('#op-select').getAttribute('value');
    opid = opid.match(/\(([^)]+)\)/);
    if (opid && opid.length > 1) {
        opid = opid[1];
    } else {
        opid = null;
    }

    if (!opid) {
        msg(responseElDebtPage, 'error', 'Please select an operator.');
        return;
    }

    apiRequest('getDebt/' + opid + '/' + formattedStartDate + '/' + formattedEndDate + '?format=json')
        .then(data => {
            let html = `
                <table class="table"><thead></thead>
                <tbody>
                    <tr><th title='operator name (operator ID)'>To</th><th>Amount</th><th></th></tr>
            `;

            for (const h of data.hOpList) {
                html += `
                    <tr>
                        <td>${h.homeOpID}</td>
                        <td title="${h.nPasses} passes">${h.passesCost}</td>
                        <td><button class="button is-success" onclick="payDebt(this, '${opid}', '${h.homeOpID}', '${startDate}', '${endDate}')">Pay</button></td>
                    </tr>
                `;
            }

            html += `
                </tbody>
            `;

            res.innerHTML = html;
        })
        .catch(error => {
            msg(responseElDebtPage, 'error', error);
        });
}


function payDebt(thisEl, from, to, start, end){

	const fromOp = from;
	const toOp = to;
	let startDate = start;
	let endDate = end;

	startDate = startDate.replace(/-/g, '');
    endDate = endDate.replace(/-/g, '');

	apiRequest('payDebt/' + fromOp + '/' + toOp + '/' + startDate + '/' + endDate + '?format=json', 'PUT')
		.then(data => {
			msg(thisEl.parentElement, 'success', 'Paid')
		})
		.catch(error => {
			msg(responseElDebtPage, 'error', error)
		}
	);

}





</script>

<%- include('modules/bottom') %>


