<%- include('modules/top') %>

<title>TollNet Solutions</title>

<style>
	.title {
		color: white;
		font-size: 3rem;
		font-weight: bold;
	}
	.subtitle {
		color: white;
		font-size: 1.5rem;
	}
	body{
		text-align:center;
	}
	@media (max-width: 768px) {
		.box{
			background-color: transparent;
		}
		.box p{
			text-shadow: 3px 3px 5px #000000;
			color: white;
			font-weight:bold;
		}
	}
</style>

</head><body>

	<video id="video-background" autoplay muted loop>
        <source src="/bg.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

<div class="box" style="width: 95%; max-width: 500px; margin: auto; margin-top: 100px;">

	<div class="title">TollNet Solutions</div>
			<p>
				Welcome to TollNet Solutions! Our platform simplifies toll road interoperability, enabling seamless travel across multiple highway systems with a single transponder. We handle financial reconciliation between toll operators and offer powerful data analysis tools.

			</p>
	<div>
		<br>
		<a href="/login" class="button is-primary is-rounded">Get Started</a>
		<a href="/login" class="button is-rounded">Login</a>
		<br>
	</div>
</div>

<%- include('modules/bottom') %>

