<%- include('modules/top') %>

<title>Pass Analysis | TollNet Solutions</title>

</head><body style="text-align:center;">

	<%- include('modules/header') %>

<main>

	<div class="content">
		
		
		<h1>Pass Analysis</h1>


		


		<p>
			Get the analysis of passes performed by a specific tag operator in the road of another operator
		</p>
		<p>
			<input
				class="input is-info"
				style="max-width: 15em;"
				type="text"
				placeholder="Station Operator ID"
			/>
			<input
				class="input is-info"
				style="max-width: 15em;"
				type="text"
				placeholder="Tag Operator ID"
			/>
		</p>
		<p>
			<input
				class="input is-info"
				style="max-width: 15em;"
				type="text"
				placeholder="Start date (YYYYMMDD)"
			/>
			<input
				class="input is-info"
				style="max-width: 15em;"
				type="text"
				placeholder="End date (YYYYMMDD)"
			/>
		</p>
		<p>
			<button class="button is-info is-dark" onclick="getAnalysis()">Get Analysis</button>
		</p>





		<div id="feed-getanalysis"></div>






	</div>




</main>




<script>

function getAnalysis(){
	
	const responseEl = document.getElementById('feed-getanalysis');

	const stationOp = document.querySelector('input[placeholder="Station Operator ID"]').value;
	const tagOp = document.querySelector('input[placeholder="Tag Operator ID"]').value;
	const startDate = document.querySelector('input[placeholder="Start date (YYYYMMDD)"]').value;
	const endDate = document.querySelector('input[placeholder="End date (YYYYMMDD)"]').value;

	if (!stationOp || !tagOp || !startDate || !endDate) {
		msg(responseEl, 'error', 'Please enter all fields');
		return;
	}

	const apicall = `passAnalysis/${stationOp}/${tagOp}/${startDate}/${endDate}`;
	apiRequest(apicall, 'GET')
		.then(data => {
			msg(responseEl, 'success', data)
		})
		.catch(error => {
			msg(responseEl, 'error', error)
		}
	);
}


</script>




<%- include('modules/bottom') %>
