<%- include('modules/top') %>

<title>Passes Cost | TollNet Solutions</title>

</head><body style="text-align:center;">

<%- include('modules/header') %>

<main>

	<div class="content">
		
		<div id="feed-get-ops"></div>
		<h1>Passes Cost</h1>

		<p>
			Get the cost of passes performed by a specific tag operator in the road of another operator
		</p>
		<p>
			<div class="dropdown" id="op-select" value="">
				<div class="dropdown-trigger">
					<button class="button" aria-haspopup="true" aria-controls="dropdown-menu-opstation">
						<span>Choose station operator</span>
						<span class="icon is-small">
							<i class="fas fa-angle-down" aria-hidden="true"></i>
						</span>
					</button>
				</div>
				<div class="dropdown-menu" id="dropdown-menu-opstation" role="menu">
					<div class="dropdown-content">
						<!-- added by js -->
					</div>
				</div>
			</div>
			<div class="dropdown" id="op-tag-select" value="">
				<div class="dropdown-trigger">
					<button class="button" aria-haspopup="true" aria-controls="dropdown-menu-optag">
						<span>Choose tag operator</span>
						<span class="icon is-small">
							<i class="fas fa-angle-down" aria-hidden="true"></i>
						</span>
					</button>
				</div>
				<div class="dropdown-menu" id="dropdown-menu-optag" role="menu">
					<div class="dropdown-content">
						<!-- added by js -->
					</div>
				</div>
			</div>
		</p>
		<p>
			<input
				class="input is-info"
				style="max-width: 15em;"
				type="text"
				placeholder="Start date (YYYYMMDD)"
				value = "20220101"
			/>
			<input
				class="input is-info"
				style="max-width: 15em;"
				type="text"
				placeholder="End date (YYYYMMDD)"
				value = "20230101"
			/>
		</p>
		<p>
			
			<div class="dropdown" id="format-select" value="">
				<div class="dropdown-trigger">
				  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
					<span>Choose format</span>
					<span class="icon is-small">
					  <i class="fas fa-angle-down" aria-hidden="true"></i>
					</span>
				  </button>
				</div>
				<div class="dropdown-menu" id="dropdown-menu3" role="menu">
				  <div class="dropdown-content">
					<a href="#" class="dropdown-item"> csv </a>
					<a href="#" class="dropdown-item"> json </a>
				  </div>
				</div>
			  </div>
		</p>
		<p>
			<button class="button is-info is-dark" onclick="getCost()">Get Cost</button>
		</p>

		<div id="feed-getcost"></div>

	</div>

</main>

<script>

function initOps(){

const responseEl = document.getElementById('feed-get-ops');
const opsSelect = document.getElementById('op-select').querySelector('.dropdown-content');
const tagSelect = document.getElementById('op-tag-select').querySelector('.dropdown-content');

//msg(responseEl, 'loading...');

apiRequest('operators')
	.then(data => {
		responseEl.innerHTML="";
		for(const i of data.operators){
			op = document.createElement('a');
			op.href = "#";
			op.className = "dropdown-item";
			op.innerHTML = i.name + " (" + i.id + ")";
			opsSelect.appendChild(op);
			tagSelect.appendChild(op.cloneNode(true));
		}
		applyDropdownFunctionality(document.getElementById('op-select'));
		applyDropdownTriggers(document.getElementById('op-select'));
		applyDropdownFunctionality(document.getElementById('op-tag-select'));
		applyDropdownTriggers(document.getElementById('op-tag-select'));
	})
	.catch(error => {
		console.log(error);
		msg(responseEl, 'error', error)
	}
);
}

initOps();

function getCost(){
	
	const responseEl = document.getElementById('feed-getcost');

	let stationOp = document.querySelector('#op-select').getAttribute('value');
	stationOp = stationOp.match(/\(([^)]+)\)/);
	if(stationOp && stationOp.length > 1){
		stationOp = stationOp[1];
	} else {
		stationOp = null;
	}
	let tagOp = document.querySelector('#op-tag-select').getAttribute('value');
	tagOp = tagOp.match(/\(([^)]+)\)/);
	if(tagOp && tagOp.length > 1){
		tagOp = tagOp[1];
	} else {
		tagOp = null;
	}
	const startDate = document.querySelector('input[placeholder="Start date (YYYYMMDD)"]').value;
	const endDate = document.querySelector('input[placeholder="End date (YYYYMMDD)"]').value;
	const format = document.querySelector('#format-select').getAttribute('value');

	if (!format) {
		msg(responseEl, 'error', 'Please choose a format');
		return;
	}

	if (!stationOp || !tagOp || !startDate || !endDate || !format) {
		msg(responseEl, 'error', 'Please enter all fields');
		return;
	}

	const apicall = `passesCost/${stationOp}/${tagOp}/${startDate}/${endDate}?format=${format}`;
	apiRequest(apicall, 'GET', null, format)
	.then(data => {

	let final_data_list = {};

		if(format == 'json'){
			msg(responseEl, 'success', JSON.stringify(data, null, 2));
			let html = `
					<table class="table"><thead></thead>
					<tbody>
						<tr><th>Number of passes</th><td>${data.n_passes}</td></tr>
						<tr><th>Total passes cost</th><td>${data.passesCost.toFixed(2)}</td></tr> 
					</tbody>
				`;

				responseEl.innerHTML = html;
		} else {
			msg(responseEl, 'converting...');

			data.text().then(csvText => {
				// Convert CSV text to object list
				const list = csvText.split('\n').map(row => row.split(','));
				
				// Process CSV to desired output
				let dataTXT = list.map(row => row.join(',')).join('\n');
				msg(responseEl, 'success', dataTXT);

				let data = list[1];
				// last two values:
				const n_passes = data[5];
				const passesCost = data[6];
				
				responseEl.innerHTML = `
					<table class="table"><thead></thead>
					<tbody>
						<tr><th>Number of passes</th><td>${n_passes}</td></tr>
						<tr><th>Total passes cost</th><td>${parseFloat(passesCost).toFixed(2)}</td></tr> 
					</tbody>
				`;

	}).catch(error => {
		msg(responseEl, 'error', 'Error parsing CSV data: ' + error);
	});

}
})
		.catch(error => {
			msg(responseEl, 'error', error)
		}
	);
}

</script>

<%- include('modules/bottom') %>
