<%- include('modules/top') %>

<title>Toll Station Passes | TollNet Solutions</title>

<script src="/check-token.js"></script>

</head><body style="text-align:center;">

<%- include('modules/header') %>

<main>

	<div class="content">
		
		<div id="feed-get-stations"></div>
		<h1>Toll Station Passes</h1>
		
		<p>
			Get toll station passes for a specific period
		</p>
		<p>
			<div class="dropdown" id="op-select" value="">
				<div class="dropdown-trigger">
					<button class="button" aria-haspopup="true" aria-controls="dropdown-menu-op">
						<span>Choose station</span>
						<span class="icon is-small">
							<i class="fas fa-angle-down" aria-hidden="true"></i>
						</span>
					</button>
				</div>
				<div class="dropdown-menu" id="dropdown-menu-op" role="menu">
					<div class="dropdown-content">
						<!-- added by js -->
					</div>
				</div>
			</div>
		</p>
		<p>
			<label for="startDate">Start Date:</label>
            <input
                id="startDate"
                class="input is-info"
                style="max-width: 15em;"
                type="date"
                value="2022-01-01"
			/>
			<label for="endDate">End Date:</label>
            <input
                id="endDate"
                class="input is-info"
                style="max-width: 15em;"
                type="date"
                value="2023-01-01"
			/>
		</p>
		<p>
			<button class="button is-info is-dark" onclick="getPasses()">Get Passes</button>
		</p>

		<div id="feed-getpasses"></div>

	</div>
</main>

<script>

function initStations(){

const responseEl = document.getElementById('feed-get-stations');
const opsSelect = document.getElementById('op-select').querySelector('.dropdown-content');

//msg(responseEl, 'loading...');

apiRequest('stations')
	.then(data => {
		responseEl.innerHTML="";
		for(const i of data.stations){
			op = document.createElement('a');
			op.href = "#";
			op.className = "dropdown-item";
			op.innerHTML = i.name + " (" + i.id + ")";
			opsSelect.appendChild(op);
		}
		applyDropdownFunctionality(document.getElementById('op-select'));
		applyDropdownTriggers(document.getElementById('op-select'));
	})
	.catch(error => {
		console.log(error);
		msg(responseEl, 'error', error)
	}
);
}

initStations();

function getPasses(){

	const responseEl = document.getElementById('feed-getpasses');

	let stationId = document.querySelector('#op-select').getAttribute('value');
	// split at parenthesis
	stationId = stationId.split('(');
	stationId = stationId[stationId.length - 1];
	stationId = stationId.replace(')', '');
	console.log('id',stationId);

	// Validate the dates
    const startDate = document.getElementById('startDate').value;
    const endDate = document.getElementById('endDate').value;

	if (!startDate || !endDate) {
        msg(responseEl, 'error', 'Please provide both start and end dates.');
        return;
    }

	// Convert dates to the required format
    const formattedStartDate = startDate.replace(/-/g, '');
    const formattedEndDate = endDate.replace(/-/g, '');


	if (!stationId || !startDate || !endDate) {
		msg(responseEl, 'error', 'Please enter all fields');
		return;
	}

	apiRequest(`tollstationpasses/${stationId}/${formattedStartDate}/${formattedEndDate}`, 'GET')
		.then(data => {
			msg(responseEl, 'success', data)
			msg(responseEl, 'success', JSON.stringify(data.passList, null, 2));

			let html = `
					<table class="table"><thead></thead>
					<tbody>
						<tr><th>Index</th><th>Pass ID</th><th>Timestamp</th><th>Tag ID</th><th>Tag Provider</th><th>Pass Type</th><th>Pass Charge</th></tr>
	`;

				for (let i = 0; i < data.passList.length; i++) {
					let obj = data.passList[i];
					html += `
						<tr>
							<td>${obj.passIndex}</td>
							<td>${obj.passID}</td>
							<td>${obj.timestamp}</td>
							<td>${obj.tagID}</td>
							<td>${obj.tagProvider}</td>
							<td>${obj.passType}</td>
							<td>${obj.passCharge}</td>
						</tr>
					`;
				}
				
				html += `
					</tbody>
				`;

				responseEl.innerHTML = html;
		})
		.catch(error => {
			const errorMessage = error.message || error.toString();
			msg(responseEl, 'error', errorMessage)
		}
	);

}



</script>

<%- include('modules/bottom') %>


